@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anuphan:wght@100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Iceberg&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .heading {
        font-family: "Iceberg", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    .tittle{
        font-family: IBM Plex Serif;
        font-weight: 600;
        line-height: 100%;
    }
    .text{
        font-family: ABeeZee;
        font-weight: 400;
        font-style: italic;
        line-height: 28px;
        text-align: justify;
    }
    .input
    {
      height: auto;
      width: auto;
      border: 1px solid #F11616;
      outline: none;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      border-radius: 10px;
      padding-left: 10px;
      font-size: 22px;
    }
    .input:focus{
      border: 1px solid #000;
    }
}
@layer components{
  .btn
  {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid #F11616;
    color: #F11616;
    border-radius: 5px;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
  }
    .btn-primary
  {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    background: #F11616;
    border-radius: 5px;
    font-family: ABeeZee;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .btn-secondary{
    display: block;
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid #F11616;
    color: #F11616;
    border-radius: 5px;
    font-family: ABeeZee;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}