@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .heading {
        font-family: "Iceberg", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    .tittle{
        font-family: IBM Plex Serif;
        font-weight: 600;
        line-height: 100%;
    }
    .text{
        font-family: ABeeZee;
        font-weight: 400;
        font-style: italic;
        line-height: 28px;
        text-align: justify;
    }
    .input
    {
      height: auto;
      width: auto;
      border: 1px solid #fff;
      outline: none;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      border-radius: 10px;
      color: #fff;
      background: #000;
      padding-left: 10px;
      font-size: 22px;
    }
    .input:focus{
      border: 1px solid #0496ff;
    }
}
@layer components{
    .btn-primary
  {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    background: #F11616;
    border-radius: 5px;
    font-family: ABeeZee;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .btn-secondary{
    display: block;
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid #F11616;
    color: #F11616;
    border-radius: 5px;
    font-family: ABeeZee;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}